<!DOCTYPE html>
<html lang="{{ lang | default('ru') }}">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <title>{{ title | default('Nunjucks template') }}</title>
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE = edge" />
    <![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/main.css" type="text/css" />
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
  </head>
  <body class="{{ bodyclass | default('')}}">
    {% include "blocks/header.njk" %} {% block content %}
    <p>Page content is empty</p>
    {% endblock %} {% include "blocks/footer.njk" %}
    <script src="static/js/libs.min.js"></script>

    <script src="static/js/main.js"></script>

    {% block scripts %} {% endblock %}
  </body>
</html>
