<div class="cruise__item">
    <div class="cruise-img">
        <img src="static/images/offer.jpg" alt="" />
    </div>
    <div class="cruise-info">
        <div class="cruise-description">
            <span class="cruise-type">Речной круиз</span>
            <h4 class="cruise-name">Лирика Полесья</h4>
            <ul class="cruise-road">
                <li>Москва</li>
                <li>Мышкин</li>
                <li>Коприно</li>
                <li>Углич</li>
                <li>Москва</li>
            </ul>
            <div class="cruise-price">
                <span>Цена от</span>
                <span class="price"> 15 000 Р </span>
            </div>
        </div>
        <div class="cruise-details">
            <div class="cruise-date">
                <p>Дата</p>
                <span> 10 июня - 14 июня 2021 </span>
            </div>
            <div class="cruise-duration">
                <p>Продолжительность</p>
                <span> дней: 4 </span>
            </div>
            <a class="primary-btn" href="cruise.html"> Подробнее </a>
        </div>
    </div>
    <a class="cruise__item__link" href="cruise.html"></a>
</div>